/* Fauna One 
 * Rosario - 700, 400, 400 italic 
 */

body {
	margin: 0;
	padding: 0;
}

#header {
	background-color: #231F20;
	border-bottom: 2px solid #e4ae23;

	z-index: 3001;
	position: relative;
}

#topbar {
	background-color: #a2782c;
	padding: 10px 15px;
}

#global_nav {
}

#nav_bar li {
	list-style-type: none;
	display: inline;

	float: left;
	margin: 5px; 0 0;
	width: 100%;
	min-height: 50px;
	position: relative;
	z-index: 3000;
}

#arrow {
	cursor: pointer;
}
